
/* edit page shop details */

.container_add {
 width: 100%;
 max-width: 800px;
 /* margin: 6em auto 0em; */
 margin-top:1em;
 padding: 20px;
 background-color: #fff;
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container_add h3 {
 text-align: center;
 color: #7fad39;
}

.container_add form {
 display: flex;
 flex-direction: column;
}

.container_add label {
 font-weight: bold;
 margin-bottom: 5px;
 color: #555;
}

.container_add input[type="text"],
.container_add input[type="number"],

.container_add select,
.container_add input[type="file"] {
 width: 100%;
 padding: 10px;
 margin-bottom: 15px;
 border: 1px solid #ddd;
 border-radius: 4px;
 box-sizing: border-box;
}



.container_add button {
 background-color: #7fad39;
 color: #fff;
 border: none;
 padding: 15px;
 border-radius: 4px;
 cursor: pointer;
 font-size: 16px;
 font-weight: bold;
}
